<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - To Do App</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container vh-100 d-flex align-items-center">
        <div class="row w-100 shadow rounded overflow-hidden m-4">
            
            <div class="col-md-6 bg-primary text-white d-flex flex-column justify-content-center align-items-center p-5">
                <h1 class="display-5 fw-bold text-center">Welcome to To Do App</h1>
                <p class="lead text-center">Organize your day, track your goals, and stay productive.</p>
                <img src="{% static 'media/images/todo-landing.svg' %}" alt="To-Do" class="img-fluid mt-3" style="max-height: 250px;">
            </div>

            <div class="col-md-6 bg-white d-flex flex-column justify-content-center p-5">
                <h3 class="mb-4">Login</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input name="username" type="text" class="form-control" id="username" placeholder="Enter your username">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Enter your password">
                    </div>

                    <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>

                   {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} p-2 text-center" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}


                    <p class="text-center">Don't have an account?</p>
                    <a href="{% url 'Register' %}" class="btn btn-outline-primary w-100">Register</a>
                </form>
            </div>

        </div>
    </div>
</body>
</html>
